.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.checkbox {
  width: 1.745rem;
  height: 1.745rem;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
}

.checkbox:hover {
  background-color: var(--color-blue-dark-20);
}

.checkboxDone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-purple-dark);
}

.checkboxDone svg {
  color: var(--color-gray-100);
  width: 1.2rem;
  height: 1.2rem;
}

.checkboxDone:hover {
  background-color: var(--color-purple);
}
