:root {
  font-family: Inter, sans-serif;

  --color-gray-100: #F2F2F2;
  --color-gray-200: #D9D9D9;
  --color-gray-300: #808080;
  --color-gray-400: #333333;
  --color-gray-500: #262626;
  --color-gray-600: #1A1A1A;
  --color-gray-700: #0D0D0D;

  --color-danger: #E25858;
  --color-purple: #8284FA;
  --color-purple-dark: #5E60CE;
  --color-blue: #4EA8DE;
  --color-blue-dark: #1E6F9F;
  --color-blue-dark-20: rgba(30, 112, 159, 0.20);
}

* {
  font-smooth: always;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 140%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-gray-600);
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

*:focus,
input:active,
button:active {
  outline: 1px solid black;
  box-shadow: 0 0 0 3px var(--color-purple-dark);
  transition: outline 100ms, box-shadow 100ms;
}
